/*
 *
 * MMM-moonraker
 *
 * 
 * MIT Licensed.
 *
 * Custom here your css module
 *
 */
.MMM-moonraker .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.MMM-moonraker .container {
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

.MMM-moonraker .row-center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.MMM-moonraker .thumb {
    margin-bottom: 5px;
}

.MMM-moonraker .column {
    min-width: 0;
    flex-basis: 40%;
}

.MMM-moonraker .column-text-of {
    min-width: 0;
    flex-basis: 60%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.MMM-moonraker .column-text {
    min-width: 0;
    flex-basis: 60%;
    white-space: nowrap;
}

.MMM-moonraker {
    --progress-color: green;
    --progress-background-color: gray;
    --border-radius: 10px;
}

/* background: */
.MMM-moonraker progress::-webkit-progress-bar {
    background-color: var(--progress-background-color);
    border-radius: var(--border-radius);
}

.MMM-moonraker progress {
    background-color: var(--progress-background-color);
    border-radius: var(--border-radius);
}

/* value: */
.MMM-moonraker progress::-webkit-progress-value {
    background-color: var(--progress-color) !important;
    border-radius: var(--border-radius);
}

.MMM-moonraker progress::-moz-progress-bar {
    background-color: var(--progress-color) !important;
    border-radius: var(--border-radius);
}

.MMM-moonraker progress {
    color: var(--progress-color);
}