/*
 *
 * MMM-moonraker
 *
 * 
 * MIT Licensed.
 *
 * Custom here your css module
 *
 */
.MMM-moonraker .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.MMM-moonraker .container {
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

.MMM-moonraker .row-center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.MMM-moonraker .thumb {
    margin-bottom: 5px;
}

.MMM-moonraker .column {
    min-width: 0;
    flex-basis: 40%;
}

.MMM-moonraker .column-text {
    min-width: 0;
    flex-basis: 60%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}