{% if available !== true %}
    <div class="xsmall">
        {{ "MOONRAKER NOT AVAILABLE" | translate | safe }}
    </div>
{% elif loading %}
    <div class="xsmall">
        {{ "LOADING" | translate | safe }}
    </div>
{% else %}
    {% if config.hideDataOnStandby and data.print_stats.state == 'standby' %}
        <div class="container">
            <div class="MMM-moonraker-row">
                <div class="MMM-moonraker-column xsmall align-left">
                    {{ "STATUS" | translate | safe }}
                </div>
                <div class="MMM-moonraker-column xsmall align-left">
                    {{ data.print_stats.state | capitalize }}
                </div>
            </div>
        </div>
    {% else %}
        <div class="container">
            {% if config.showThumbnail %}
                <div class="MMM-moonraker-row-center">
                    <img class="MMM-moonraker-thumb" width="{{ config.thumbnailSize }}" src="{{ thumbnails[0].relative_path }}"/>
                </div>
            {% endif %}
            <div class="MMM-moonraker-row">
                <div class="MMM-moonraker-column xsmall align-left">
                    {{ "STATUS" | translate | safe }}
                </div>
                <div class="MMM-moonraker-column xsmall align-left">
                    {{ data.print_stats.state | capitalize }}
                </div>
            </div>
            <div class="MMM-moonraker-row">
                <div class="MMM-moonraker-column xsmall align-left">
                    {{ "FILENAME" | translate | safe }}
                </div>
                <div class="MMM-moonraker-column-text xsmall align-left">
                    {{ data.print_stats.filename if data.print_stats.filename else '-' }}
                </div>
            </div>
            <div class="MMM-moonraker-row">
                <div class="MMM-moonraker-column xsmall align-left">
                    {{ "PROGRESS" | translate | safe }}
                </div>
                <div class="MMM-moonraker-column-text xsmall align-left">
                    {% if data.virtual_sdcard.progress > 0 %}
                        {{ (data.virtual_sdcard.progress*100) | round | int }}%
                    {% else %}
                        -
                    {% endif %}
                </div>
            </div>
            <div class="MMM-moonraker-row">
                <div class="MMM-moonraker-column xsmall align-left">
                    {{ "LAYER" | translate | safe }}
                </div>
                <div class="MMM-moonraker-column-text xsmall align-left">
                    {% if data.print_stats.info.total_layer %}
                        {{ data.print_stats.info.current_layer }} / {{ data.print_stats.info.total_layer }}
                    {% else %}
                        -
                    {% endif %}
                </div>
            </div>
            <div class="MMM-moonraker-row">
                <div class="MMM-moonraker-column xsmall align-left">
                    {{ "ETA" | translate | safe }}
                </div>
                <div class="MMM-moonraker-column-text xsmall align-left">
                    {{ eta if eta else '-' }}
                </div>
            </div>
            <div class="MMM-moonraker-row">
                <div class="MMM-moonraker-column xsmall align-left">
                    {{ "EXTRUDER" | translate | safe }}
                </div>
                <div class="MMM-moonraker-column-text xsmall align-left">
                    {{ data.extruder.temperature }}°C /
                    {{ data.extruder.target }}°C
                </div>
            </div>
            <div class="MMM-moonraker-row">
                <div class="MMM-moonraker-column xsmall align-left">
                    {{ "BED" | translate | safe }}
                </div>
                <div class="MMM-moonraker-column-text xsmall align-left">
                    {{ data.heater_bed.temperature }}°C /
                    {{ data.heater_bed.target }}°C
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}